* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  position: relative;
}

body {
  width: 100%;
  max-width: 1440px;
  min-width: 375px;
  margin: auto;
}
header img{
    width: 162px;
    height: 27.7px;  
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    position: relative;
}

/*****Animation**/

@keyframes fill-up {
  0% {
    background-position: 0 -10px;
    opacity: 0;
  }
  100% {
    background-position: 0 -40px;
    opacity: 1;
  }
}
@keyframes drain-out {
  0% {
    background-position: 0 -40px;
    opacity: 1;
  }
  100% {
    background-position: 0 -10px;
    opacity: 0;
  }
}
@keyframes appearance {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disappear {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(0);
  }
}
@keyframes spin {
  to {transform: rotate(360deg);}
}

/*Loader*/

/*.anim-wrapper {
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  visibility: hidden;
  animation: loading 3500ms linear backwards;
}*/

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 10;
  opacity: 1;
  animation: disappear 200ms 3s forwards;
  transform-origin: top;
}

.loader i {
  animation: spin 3s infinite linear;
  color: #FF79DA;
}
.loader i::after{
  content: "";
  height: 100px;
  width: 100px;
  border-right: 5px solid transparent;
  border-top:5px solid #9356DC;
  border-radius: 50%;
  animation: spin 3s ease-in-out;
  animation-iteration-count: 2;

}

/* Location */
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #EAEAEA;
}
.location i {
  display: block;
  padding: 0 15px;
}

/* Reservations */

.menu-reservation{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #F6F6F6;

}
.menu-reservation h1 {
  font-size: 1.5em;
  margin: 39.5px 5px 0 5px;
}
.menu-reservation  p {
  font-size: 1em;
  font-weight: 300;
  padding: 27px 25px 27px 25px;
}
.button {
  color: #ffffff;
  width: 220px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: 0.95em;
  font-weight: 500;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}
.button--clickable {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.button:hover::after {
  opacity: 0.15;
}
.button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #ffffff;
  opacity: 0;
  z-index: -1;
}
.favorite {
  position: relative;
  height: 25px;
  width: 25px;
}
.favorite--clicked {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.favorite--clicked_heart {
  opacity: 0;
  background: linear-gradient(#FFFFFF 0 50%, #9356DC 50% 65%, #FF79DA);
  background-size: auto 60px;
  background-position: 0 0px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: drain-out 500ms ease-in both;
}
.favorite--clicked_heart:hover {
  animation: fill-up 500ms ease-in both;
}

/* functioning */
.functioning{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 50px 0;
  background-color: #ffffff;
  position: relative;
 
}
.functioning h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0px 20px 26px 20px;
  width: 76%;
  min-width: 350px;
  max-width: 1060px;
  text-align: left;
}
.functioning-choice {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  gap: 25px;
}
.functioning-card {
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 80%;
  height: 72px;
  position: relative;

}
.functioning-card_number {
  display: inline-block;
  text-align: center;
  line-height: 24px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #9356DC;
  color: #ffffff;
  font-size: 0.875em;
  font-weight: 500;
  position: absolute;
  left: -12px;
}
.functioning-card_icon {
  color: #777777;
}
.functioning-card_icon--selected {
  color: #9356DC;
}
/****Restaurants****/
.restaurants {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F6F6F6;
  position: relative;
  padding: 50px 20px;
}
.restaurants h2 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 25px;
  width: 100%;
  max-width: 1060px;
  text-align: left;
}
.restaurants_new, .restaurants_old{
  display: flex;
  align-items: center;
  gap: 95.68px;
 
}

.restaurants_new {
  margin-bottom: 0px;
  }

.restaurants-card {
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  min-width: 340px;
  overflow: hidden;
  position: relative;
}
.restaurants-card {
    width: 50%;
    margin-bottom: 18px;
  }
.restaurants-card .new {
  position: absolute;
  top: 5px;
  right: 15px;
  background-color: #99E2D0;
  color: #008766;
  padding: 6px 9px;
  font-size: 0.875em;
  font-weight: 500;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  background-color: #99E2D0;
}
.restaurants-card_img {
  width: 100%;
  height: 175px;
  overflow: hidden;
}
.restaurants-card_img img {
  width: 100%;
  object-position: 0 -50px;
}
.restaurants-card_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 77px;
  width: 100%;
}
.restaurants-card_text_details {
  height: 100%;
  margin-left: 15px;
}
.restaurants-card_text_details h3 {
  font-size: 1.125em;
  font-weight: 700;
  padding-top: 15px;
}
.restaurants-card_text_details p {
  font-size: 1.0625em;
  font-weight: 300;
  padding-top: 5px;
}
.restaurants-card_text .favorite {
  margin: 15px;
  z-index: 2;
}
.restaurants-card_text .favorite i {
  font-size: 22px;
}
.restaurants-card_text_logo {
  background-color: #ffffff;
}
.restaurants-card--clickable {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
}

.background {
  overflow: hidden;
}
.background--lanoteenchantee {
  height: 300px;
}
.background_img {
  width: 100%;
}
.background_img--lanoteenchantee {
  object-position: 0 -95px;
}

/******footer****/
.footer {
  background-color: #383838;
  color: #ffffff;
  font-size: 1em;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 30px;
}
.footer--shift {
  position: relative;
  top: -60px;
}
.footer a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}
.footer_logo {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-links_block1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}
.footer-links_block1 p {
  margin: 0;
}

/***other page***/

.back-to-home{
  position: absolute;
  top: 32.5px;
  left: 20px;
}
.back-to-home a {
  color: #000;
}
.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -60px;
  width: 100%;
}
.menu-card {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  align-items: center;
  justify-content: center;
  max-width: 1055px;
  width: 100%;
  margin: auto;
}
.menu-card_btn {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.menu-card_title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 100px;
}
.menu-card_title h2 {
  font-family: "Shrikhand";
  font-size: 1.75em;
  font-weight: 400;
}
.menu-card_title i {
  font-size: 22px;
}
.menu-card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0 15px 40px 15px;
  opacity: 0;
  animation: appearance 1000ms both;
}
.menu-card-ENTREE {
  animation-delay: 800ms;
}
.menu-card-PLATS {
  animation-delay: 1600ms;
}
.menu-card-DESERTS {
  animation-delay: 2400ms;
}
.menu-card-section_title {
  width: 100%;
  max-width: 635px;
  height: 25px;
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
}
.menu-card-section_title_dividing {
  background: #99E2D0;
  width: 40px;
  height: 5px;
  top: 100%;
  bottom: 0%;
  left: 0%;
  position: absolute;
}
.menu-card-section_item {
  display: flex;
  width: 100%;
  max-width: 635px;
  height: 70px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: #ffffff;
  overflow: hidden;
}

.menu-card-section_item .transition-choice {
  display: flex;
  height: 70px;
  transform: translateX(0px);
  transition: transform ease-in-out 300ms;
  position: relative;
  right: -62px;
}

.menu-card-section_item:hover  .transition-choice {
  transform: translateX(-62px);
}

.menu-card-section_item_description {
  margin: 8px 10px 0px 15px;
  overflow: hidden;
  z-index: 1;
  width: 80%;
}
.menu-card-section_item_description h3 {
  font-size: 1.125em;
  font-weight: 500;
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 10px 0 0 0;
}
.menu-card-section_item_description p {
  margin: 0;
  padding: 0;
  font-size: 0.9375em;
  font-weight: 300;
  padding-bottom: 5px;
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-card-section_item_price {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 15px;
  width: 60px;
}
.menu-card-section_item_price p {
  font-weight: 700;
  font-size: 0.9375em;
}
.menu-card-section_item--selected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60px;
  background-color: #99E2D0;
}
.menu-card-section_item--selected i {
  color: #ffffff;
  font-size: 1.25em;
}


/*****Mobile*****/

@media (max-width: 768px){
  header img{
    height: 35px;
    width: 200px;
  }
}

@media (min-width: 768px) {
  .restaurants {
    padding: 30px 20px 0 20px;
  }
}
@media (max-width: 768px){
  .restaurants_new, .restaurants_old{
  display: block;
}
}
@media (min-width: 768px) {
  .restaurants_new, .restaurants_old {
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .restaurants_new {
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .restaurants-card {
    width: 50%;
  }
}
/*****Desktop***/

  @media (min-width: 1025px) and (max-width: 1440px) {
  .functioning h2 {
    width: 98%;
  }
}
@media (min-width: 1025px) {
  .functioning-choice {
    flex-direction: row;
    gap: 40px;
    margin-bottom: 0px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .functioning-choice {
    width: 95%;
  }
}
@media (min-width: 1025px) {
  .functioning h2 {
    width: 1060px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .functioning h2 {
    width: 98%;
  }
}
@media (max-width: 1025px) {
  .functioning h2 {
    width: 85%;
  }
}
@media (max-width: 1025px) {
  .functioning-card {
    min-width: 322px;
  }
}
@media (min-width: 1170px) {
  .functioning-card {
    max-width: 322px;
  }
}
@media (min-width: 1025px) {
  .restaurants-card {
    max-width: 490px;
  }
}
@media (min-width: 1025px) {
  .restaurants-card_img img {
    object-position: 0 -100px;
  }
}
@media (min-width: 1025px) {
  .restaurants-card #lanoteenchantee {
    object-position: 0 -240px;
  }
}
@media (min-width: 1025px) {
  .menu-reservation {
    padding-bottom: 30px;
  }
}
@media (min-width: 1025px) {
  .menu-reservation h1 {
    margin-top: 30px;
    font-size: 2.5em;
  }
}
/***other pages***/
@media (min-width: 768px) and (max-width: 1025px) {
  .background {
    height: 350px;
  }
}
@media (min-width: 1025px) {
  .background {
    height: 400px;
  }
}
@media (min-width: 768px) and (max-width: 1025px) {
  .background_img {
    object-position: 0 -230px;
  }
}
@media (min-width: 1025px) {
  .background_img {
    object-position: 0 -330px;
  }
}
@media (min-width: 768px) and (max-width: 1025px) {
  .background--lanoteenchantee {
    height: 350px;
  }
}
@media (min-width: 1025px) {
  .background--lanoteenchantee {
    height: 400px;
  }
}
@media (min-width: 768px) and (max-width: 1025px) {
  .background_img--lanoteenchantee {
    object-position: 0 -230px;
  }
}
@media (min-width: 1025px) {
  .background_img--lanoteenchantee {
    object-position: 0 -330px;
  }
}
@media (min-width: 768px) and (max-width: 1025px) {
  .menu {
    top: -90px;
  }
}
@media (min-width: 768px) and (max-width: 1025px) {
  .background {
    height: 350px;
  }
}
@media (min-width: 1025px) {
  .background {
    height: 400px;
  }
}
@media (min-width: 768px) and (max-width: 1025px) {
  .footer--shift {
    top: -90px;
  }
}
@media (min-width: 1025px) {
  .footer {
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 90px;
    padding: 50px 50px 25px 0;
  }
}
@media (min-width: 1025px) {
  .footer_logo {
    position: relative;
    top: -3px;
  }
}
@media (min-width: 1025px) {
  .footer-links {
    flex-direction: row;
  }
}
@media (min-width: 1025px) {
  .footer-links_block1 {
    flex-direction: row;
  }
}
@media (min-width: 1025px) {
  .footer-links_block2 {
    flex-direction: row;
    align-items: center;
  }
}
