* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  position: relative;
}

body {
  width: 100%;
  max-width: 1440px;
  min-width: 375px;
  margin: auto;
}

header img{
    width: 162px;
    height: 27.7px;  
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    position: relative 
}
/* Location */
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #EAEAEA;
}
.location i {
  display: block;
  padding: 0 15px;
}